.App {
  text-align: center;
  height: 100%;
  width: 100%;
}



#main {
  height: 75%;
  width: 85%;
  left: 15%;
  top: 15%;
  bottom: 10%;
  position: absolute;
  text-align: center;
  vertical-align: center;
  margin: 0%;
}



#mainTop {
  height: 33%;
  width: 100%;
  top: 0%;
  position: absolute;
}


#mainTopLeft {
  height: 100%;
  width: 50%;
  left: 0%;
  position: absolute;
}

#mainTopRight {
  height: 100%;
  width: 50%;
  right: 0%;
  position: absolute;
}



#mainCenter {
  height: 34%;
  width: 100%;
  top: 33%;
  position: absolute;
}


#mainCenterLeft {
  height: 100%;
  width: 50%;
  left: 0%;
  position: absolute;
}

#mainCenterRight {
  height: 100%;
  width: 50%;
  right: 0%;
  position: absolute;
}



#mainBottom {
  height: 33%;
  width: 100%;
  top: 67%;
  position: absolute;
}


#mainBottomLeft {
  height: 100%;
  width: 50%;
  left: 0%;
  position: absolute;
}

#mainBottomRight {
  background-color: deeppink;
  height: 100%;
  width: 50%;
  right: 0%;
  position: absolute;
}
