.App {
  text-align: center;
  height: 100%;
  width: 100%;
}




/*
#header {
  display: block;
  background-color: rebeccapurple;
  height: 15%;
  width: 100%;
  top: 0%;
  position: fixed;
  text-align: center;
  z-index: 1;
}



#headerLeft {
  background-color: forestgreen;
  height: 100%;
  width: 30%;
  left: 0%;
  position: absolute;
}

#headerMiddle {
  height: 100%;
  width: 40%;
  left: 30%;
  position: absolute;
}

#headerRight {
  background-color: ivory;
  height: 100%;
  width: 30%;
  right: 0%;
  position: absolute;
  text-align: center;
  vertical-align: center;
}
*/



#main {
  height: 75%;
  width: 85%;
  left: 15%;
  top: 15%;
  bottom: 10%;
  position: absolute;
  text-align: center;
  vertical-align: center;
}



#mainTop {
  height: 33%;
  width: 100%;
  top: 0%;
  position: absolute;
}


#mainTopLeft {
  background-color: pink;
  height: 100%;
  width: 50%;
  left: 0%;
  position: absolute;
}

#mainTopRight {
  background-color:cadetblue;
  height: 100%;
  width: 50%;
  right: 0%;
  position: absolute;
}



#mainCenter {
  height: 34%;
  width: 100%;
  top: 33%;
  position: absolute;
}


#mainCenterLeft {
  /*background-color:chartreuse;*/
  height: 100%;
  width: 50%;
  left: 0%;
  position: absolute;
}

#mainCenterRight {
  background-color: darkblue;
  height: 100%;
  width: 50%;
  right: 0%;
  position: absolute;
}



#mainBottom {
  height: 33%;
  width: 100%;
  top: 67%;
  position: absolute;
}


#mainBottomLeft {
  /*background-color:fuchsia ;*/
  height: 100%;
  width: 50%;
  left: 0%;
  position: absolute;
}

#mainBottomRight {
  background-color: deeppink;
  height: 100%;
  width: 50%;
  right: 0%;
  position: absolute;
}




/*
#sidebar {
  background-color: aquamarine;
  height: 85%;
  width: 15%;
  left: 0%;
  top: 15%;
  position: fixed;
  text-align: center;
}



#sidebarMain {
  height: 88%;
  width: 100%;
  left: 0%;
  top: 0%;
  position: absolute;
}

#sidebarBottom {
  background-color: brown;
  height: 12%;
  width: 100%;
  left: 0%;
  bottom: 0%;
  position: absolute;
}




#footer {
  background-color: grey;
  height: 10%;
  width: 85%;
  bottom: 0%;
  left: 15%;
  position: absolute;
  text-align: center;
}
*/