/*Defines the base styling for the footer*/
#footer {
  background-image: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
  background-position: center;
  height: 10%;
  width: 100%;
  bottom: 0%;
  left: 0%;
  position: fixed;
  text-align: center;
}

#footer > ul {
  list-style: none;
}

/*Defines the style for footer entries*/
#footer > ul > li {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0%;
  height: 100%;
  position: absolute;
  margin: 0%;
  transition: box-shadow 180ms ease-in, background-color 1s;
}

#footer > ul > li:hover {
  box-shadow: 0 0 0 3px white;
  background-color: rgba(0,0,0,0);
}

/*Defines th styling for footer entries' text*/
#footer > ul > li > a {
  font-size: 3vw;
  font-weight: normal;
  text-decoration: none;
}

#footer > ul > li > a:link {
  color: white;
}

#footer > ul > li > a:visited {
  color: lightslategray;
}

#footer > ul > li > a > h3 {
  margin: 0%;
  font-size: 3vw;
  font-weight: normal;
}