#footer {
  background-color: rgba(128, 128, 128, 0.5);
  height: 10%;
  width: 100%;
  bottom: 0%;
  left: 0%;
  position: absolute;
  text-align: center;
}

#footer > ul {
  list-style: none;
}

#footer > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0%;
  height: 100%;
  position: absolute;
  margin: 0%;
  transition: box-shadow 180ms ease-in, background-color 1s;
}

#footer > ul > li:hover {
  box-shadow: 0 0 0 3px white;
  background-color: rgba(0,0,0,0);
}


#footer > ul > li > a {
  font-size: 3vw;
  font-weight: normal;
  text-decoration: none;
}

#footer > ul > li > a:link {
  color: blue;
}

#footer > ul > li > a:visited {
  color: darkblue;
}

#footer > ul > li > a > h3 {
  margin: 0%;
  font-size: 3vw;
  font-weight: normal;
}