/*Defines base styling for the header*/
#header {
    top: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
    display: block;
    background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX4549221.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    text-align: center;
    z-index: 2;
    outline-style: groove;
    outline-color: rgb(196,196,256);
}

/*Defines header stylings for each section*/
#headerLeft {
    background-color: rgba(0, 0, 60, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
}


#headerMid {
    background-color: rgba(0, 0, 60, 0.66);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Base styling for headerMid, which contains titles for pages*/
#headerMid > h1 {
    padding: 0px;
    margin: 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
    font-size: 8vw;
}


#headerRight {
    background-color: rgba(0, 0, 60, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Defines styling for the images div in the top-right corner of the about me page*/
#headerRight > #images {
    height: 100%;
    width: 100%;
}

#headerRight > #images > div {
    top: 0%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}
