#ImageScroller {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
}

#imageScrollerBackground {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#imageScrollerBackground > #loadingBg {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
    position: absolute;
}

#imageScrollerBackground > #loadingBg > h1 {
    pointer-events: none;
    color: rgba(256,256,256,0.6);
    z-index: 0;
    position: absolute;
}

#shuffleButton {
    height: 5%;
    width: 5%;
    top: 0%;
    right: 0%;
    outline-style: outset;
    outline-color: grey;
    position: absolute;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXaQf9Veq0jYowgDiQ_X9IUhw7imnG5q8McA&usqp=CAU');
    background-size: cover;
    background-position: center;
}

#shuffleTexture {
    margin: 0%;
    height: 100%;
    width: 100%;
    z-index: 2;
    outline-style: inset;
    outline-color: whitesmoke;
}

#shuffleTexture > h1 {
    font-size: 0.1vw;
    height: 100%;
    width: 100%;
    margin:0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    opacity: 0;
    transition: font-size 180ms, opacity 180ms;
}

#shuffleTexture > h1:hover {
    opacity: 1;
    font-size: 2vw;
}

#shuffleTexture > h2 {
    font-size: 0.1vw;
    height: 100%;
    width: 100%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: font-size 180ms, opacity 180ms;
}

#shuffleTexture > h2:hover {
    opacity: 1;
    font-size: 2vw;
}

#shuffleSlider {
    top: 0%;
    height: 100%;
    width: 20%;
    position: absolute;
    transition: background-color 180ms, left 180ms;
}