#ImageScroller {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
}

#imageScrollerBackground {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

#loadingBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    transition: background-color 180ms;
}

#loadingBackground:hover {
    background-color: rgba(0,0,0,0);
}

#loadingBackground > h1 {
    font-size: 4rem;
    margin: 0%;
    padding: 0%;
    color: rgba(256,256,256,0.5);
    opacity: 1;
    z-index: 1;
    transition: opacity 1s;
}

#shuffleButton {
    height: 5%;
    width: 5%;
    top: 0%;
    right: 0%;
    outline-style: outset;
    outline-color: grey;
    position: absolute;
    z-index: 2;
}

#shuffleTexture {
    margin: 0%;
    height: 100%;
    width: 100%;
    outline-style: inset;
    outline-color: whitesmoke;
    z-index: 2;
}

#shuffleTexture > h1 {
    font-size: 18px;
    height: 100%;
    width: 100%;
    margin:0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    opacity: 0;
    transition: font-size 180ms, opacity 180ms;
    z-index: 2;
}

#shuffleTexture > h1:hover {
    opacity: 1;
    font-size: 24px;
}

#shuffleTexture > h2 {
    font-size: 18px;
    height: 100%;
    width: 100%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: font-size 180ms, opacity 180ms;
}

#shuffleTexture > h2:hover {
    opacity: 1;
    font-size: 24px;
}

#shuffleSlider {
    transition: background-color 180ms, left 180ms;
}