#clock {
    height: 100%;
    width: 100%;
}

#clock > h1 {
    color: white;
}

#digits {
    height: 100%;
    width: 100%;
}

#digitOne {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#digitOne > h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0%;
    transition: color 180ms;
}

#digitOne > h4:hover {
    color: rgb(256, 0, 0);
}


#digitTwo {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#digitTwo > h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0%;
    transition: color 180ms;
}

#digitTwo > h4:hover {
    color: rgb(256, 128, 0);
}


#digitThree {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#digitThree > h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0%;
    transition: color 180ms;
}

#digitThree > h4:hover {
    color: rgb(256, 256, 0);
}


#digitFour {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#digitFour > h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0%;
    transition: color 180ms;
}

#digitFour > h4:hover {
    color: rgb(160, 190, 0);
}


#digitFive {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#digitFive > h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0%;
    transition: color 180ms;
}

#digitFive > h4:hover {
    color: rgb(0, 256, 0);
}


#digitSix {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#digitSix > h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0%;
    transition: color 180ms;
}

#digitSix > h4:hover {
    color: rgb(0, 256, 256);
}


#digitSeven {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#digitSeven > h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0%;
    transition: color 180ms;
}

#digitSeven > h4:hover {
    color: rgb(0, 0, 256);
}


#digitEight {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#digitEight > h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0%;
    transition: color 180ms;
}

#digitEight > h4:hover {
    color: rgb(128, 0, 256);
}


#digitNine {
    display: flex;
    align-items: center;
    justify-content: center;
}

#digitNine > h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0%;
    transition: color 180ms;
}

#digitNine > h4:hover {
    color: rgb(190, 0, 256);
}


#digitTen {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#digitTen > h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0%;
    transition: color 180ms;
}

#digitTen > h4:hover {
    color: rgb(256, 0, 256);
}