#page {
    height: 100%;
    width: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: auto;
    text-align: center;
    vertical-align: center;
    margin: 0%;
}

#main > #footer {
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    position: absolute;
}


#main > #aboutMe {
    background-color: rgba(192, 255, 255, 0.85);
    border: 10px groove royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92.5%;
    width: 92.5%;
}

#aboutMe > p {
    margin-left: 7.5%;
    margin-right: 7.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
    color:rgb(32, 32, 32);
}

#aboutMe > p > a:link {
    color: magenta;
}

#aboutMe > p > a:visited {
    color: black;
    transition: color 180ms;
}

#aboutMe > p > a:hover {
    color: gold;
}