#page {
    height: 100%;
    width: 100%;
}

#main {
    overflow: auto;
}

a > h3 {
    font-size: 40px;
    font-weight: normal;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color:gold;
}