#projectEntry {
    overflow: auto;
    background-color:rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    outline-color: rgb(128, 0, 256);
    outline-style: groove;
    transition: background-color 1s;
}

#projectEntry:hover {
    background-color: rgba(0,0,0,0);
}

#projectEntry > #title {
    background-color: rgba(64, 0, 128, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    top: 0%;
    left: 0%;
    position: absolute;

}

#projectEntry > #description {
    background-color: rgba(64, 0, 128, 0.5);
    display: flex;
    align-items: center;
}

#projectEntry > li {
    padding: 0%;
}

#title > h1 > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    margin: 0%;
}

#title > h1 > a:link {
    color: chartreuse;
}

#title > h1 > a:visited {
    color: white;
}


#description > h3 {
    font-size: 1.5rem;
    color:azure;
}