#projectEntry {
    background-color:rgba(0, 0, 0, 0.33);
    height: 100%;
    width: 100%;
    outline-color: rgb(128, 0, 256);
    outline-style: groove;
}

#title {
    height: 20%;
    width: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
}

#projectEntry > li {
    padding: 0%;
}

#title > h1 > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    margin: 0%;
}

#title > h1 > a:link {
    color: chartreuse;
}

#title > h1 > a:visited {
    color: white;
}


#description > h3 {
    font-size: 1.5rem;
    color:azure;
}