#sidebar {
    background-color: aquamarine;
    height: 85%;
    width: 15%;
    left: 0%;
    top: 15%;
    position: fixed;
    text-align: center;
  }

#sidebar > ul {
  vertical-align: center;
}

#sidebar > li {
  vertical-align: center;
  height: 100%;
  line-height: 100%;
}
  