#sidebarEntry {
    background-color: rgba(0, 0, 139, 0.66);
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: box-shadow 180ms ease-in;
}

a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: whitesmoke;
}

#sidebarEntry:hover {
    box-shadow: 0 0 0 3px royalblue;
}