#sidebarEntry {
    background-color: rgba(0, 0, 64, 0.5);
    z-index: 2;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: box-shadow 180ms ease-in, background-color 1s;
}

#sidebarEntry:hover {
    box-shadow: 0 0 0 3px royalblue;
    background-color: rgba(0,0,0,0);
}

#sidebarEntry > #sidebarBackground {
    z-index: -1;
    position: absolute;
}

#sidebarEntry > a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 4vw;
    text-decoration: none;
    color: whitesmoke;
}

#sidebarEntry > a:link {
    color: whitesmoke;
}

#sidebarEntry > a:visited {
    color: darkgray;
    transition: color 0.5s;
}

#sidebarEntry > a:hover {
    color: whitesmoke;
}

#sidebarEntry > a > h3 {
    font-weight: normal;
    font-size: 4vw;
    text-decoration: none;
}