/*Defines the base styling of the sidebar*/
#sidebar {
  height: 85%;
  width: 15%;
  left: 0%;
  top: 15%;
  position: fixed;
  text-align: center;
  z-index: 1;
  background-image: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
  background-position: center;
}

#sidebar > ul {
  vertical-align: center;
}
  